
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div style="background-image: url('img_girl.jpg');">
    </div>*@
<div class="container">
    <h1 style="text-align:center">ANASAYFA</h1>
    <img class="d-block mx-auto mb-4" src="~/Resim/abb.png" alt="" width="600" height="300">
</div>
