@model MemberRegistration.Entities.Concrete.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap" rel="stylesheet">
    <link href="~/Content/css/Animasyon.css" rel="stylesheet" />

</head>
<body class="animation-area">

    <div class="banner-text">
        <ul>
            <li><h1><a style="color:white" href="/Security/Login2">Giriş Yap</a></h1></li>
            <li><h1><a href="/Security/Register">Kayıt Ol</a></h1></li>
        </ul>

    </div>
    <div class="text-center">
        <h1 class="tex">ANKARA BÜYÜKŞEHİR BELEDİYESİ</h1>
    </div>




    <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</body>

</html>
